ons-list-item > ons-icon {
  margin: 0 4px 0 0;
  opacity: 0.8;
}

.list-item-action {
  position: absolute;
  right: 10px;
  top: 0px;
  font-size: 20px;
  opacity: 0.3;
}

.list-item-action > ons-icon {
  margin-top: 14px;
}
@media only screen and (max-width: 768px) {
  [class*="list-item-note"] {
    width: 2em;
    line-height: 2.2em;
    top:27px !important;
  }
}
.list-item-note {
  position: absolute;
  right: 36px;
  top: 50px;
}


.notification {
  margin: 2px 2px 1px 1px;
}

/* count style  */

ion-icon {
  font-size: 22px;
}

ion-icon:hover {
  color: rgba(205, 126, 207, 0.521);
}

ion-icon:active {
  color: rgba(173, 24, 116, 0.63);
}


@media only screen and (max-width: 768px) {
  [class*="count-numb"] {
    display: ruby-base-container;
    margin: -15px !important;
    padding-left: 1px !important;
  }
}

.count-numb {
  text-align: center;
  box-sizing: border-box;
  width: 53px;
  background: transparent;
  color: rgb(173, 24, 116);
  border: none;
  font-size: 27px;

}


.lucent {
  opacity: 0.4;
}
