ons-list-item > ons-icon {
  margin: 0 4px 0 0;
  opacity: 0.8;
}

.list-item-action {
  position: absolute;
  right: 10px;
  top: 0px;
  font-size: 20px;
  opacity: 0.3;
}

.list-item-action > ons-icon {
  margin-top: 14px;
}
@media only screen and (max-width: 768px) {
  [class*="list-item-note"] {
    width: 2em;
    line-height: 2.2em;
    top:15px !important;
  }
}
.list-item-note {
  position: absolute;
  right: 36px;
  margin-top:10px;
  top: 48px;
}


.notification {
  margin: 2px 2px 1px 1px;
}

/* count style  */
.btn-inc {
  width: 22px;
  height: auto;
  color: transparent;
  cursor: pointer;
}
.btn-inc:hover { 
  background: purple; 
} 
.btn-inc:active { 
  color: yellow; 
}

.btn-inc-r{
  border: transparent;
  background: transparent;
}


.btn-dec {
  width: 22px;
  height: auto;
  color: transparent;
  cursor: pointer;
}

.btn-dec:hover { 
  background: purple; 
} 
.btn-dec:active { 
  color: yellow; 
}      

.btn-dec-r{
  border: transparent;
  background: transparent;
}

@media only screen and (max-width: 768px) {
  [class*="count-numb"] {
    display: ruby-base-container;
    width: 56px !important;
  }
}

.count-numb {
  text-align: center;
  margin: -10px;
  width: 53px;
  height: auto;
  background: transparent;
  color: rgb(173, 24, 116);
  border: none;
  font-size: 27px;
  padding-left: 12px;
  padding-right: 14px;
}


.lucent {
  opacity: 0.4;
}
